@import url(/src/app/app.component.css);
span{
    color: black;
}.back{
    background-color: white;
    border-color: red;
    width: 10px;
}
.back2{
    background-color: white;
    border-color: red;
}
.invertido{
    color: red;
}
.white{
    color: white;
}
img{
    width: 300px;
}

.dos{
    background-color: white;
    border-color: red;
    border-radius: 5px;
    font-size: 30px;
    width: 50px;
    height: 40px;
}
.espacio{
    height: 40px;
    background-color: white;
}